<h2>products</h2>

// ngFor is used here because products is an array
<div *ngFor="let product of products"> 

  <h3>
    <a [title]="product.name + ' details'"
    [style.color]="'blue'"
    [routerLink]="['/product', product.id]">
      {{product.name}}
    </a>
  </h3>

  <p *ngIf="product.description; else noDesc">
    description: {{product.description}}
  </p>

  <!-- <ng-template #noDesc>
    description: None
  </ng-template> -->

  <button class="btn btn-primary" (click)="share()">Share</button><br>
  <!-- <button class="btn btn-primary" *ngIf="product.price > 700">Notify</button> -->

  <app-product-alerts 
  [product]="product"
  (notify)="onNotify()"></app-product-alerts>
</div>
